<section class="section section-hero">
  <div class="section-hero__item">
    <h1 class="section-hero__title title">
      Самая вкусная пицца в мире <br /><span class="section-hero__title--light"
        >только в Pizza Cheff</span
      >
    </h1>
    <div class="section-hero__benefits">
      <div class="section-hero__benefits-item">
        <img src="assets/images/hero__benefits-icon1.png" class="section-hero__benefits-icon"/>
        <div class="section-hero__benefits-item-content">
          <div class="section-hero__benefits-item-title">Лучшее тесто</div>
          <div class="section-hero__benefits-item-text">
            Мы создаем тесто только из отборной итальянской муки наивысшего качества
          </div>
        </div>
      </div>
      <div class="section-hero__benefits-item">
        <img src="assets/images/hero__benefits-icon2.png" class="section-hero__benefits-icon" />
        <div class="section-hero__benefits-item-content">
          <div class="section-hero__benefits-item-title">Лучшие повара</div>
          <div class="section-hero__benefits-item-text">
            Пиццы готовят самые профессиональные итальянские повара
          </div>
        </div>
      </div>
      <div class="section-hero__benefits-item">
        <img src="assets/images/hero__benefits-icon3.png" class="section-hero__benefits-icon" />
        <div class="section-hero__benefits-item-content">
          <div class="section-hero__benefits-item-title">Гарантия качества</div>
          <div class="section-hero__benefits-item-text">
            Наша пиццерия получила множество наград и признаний по всему миру
          </div>
        </div>
      </div>
      <div class="section-hero__benefits-item">
        <img src="assets/images/hero__benefits-icon4.png" class="section-hero__benefits-icon" />
        <div class="section-hero__benefits-item-content">
          <div class="section-hero__benefits-item-title">Отборные рецепты</div>
          <div class="section-hero__benefits-item-text">
            Мы используем рецепты от мировых лидеров в изготовлении пиццы
          </div>
        </div>
      </div>
    </div>
    <a class="btn section-hero__cta">Выбрать пиццу</a>
  </div>
  <div class="section-hero__item">
    <img src="assets/images/hero__pizza-image.png" alt="" srcset="" class="section-hero__image"/>
  </div>
</section>
