<section id="products" class="section section-products">
  <h2 class="section-products__title section-products__title--centered title">Выберите свою любимую пиццу</h2>
  <div class="section-products__product-list product-list">
    <div class="product-list__item">
      <img src="assets/images/product__item1.png" alt="" class="product-list__item-image">
      <div class="product-list__item-title product-list__item-title--centered">Мясная делюкс</div>
      <div class="product-list__item-composition product-list__item-composition--centered">
        Пепперони, лук, бекон, томатная паста, колбаски, перец, грибы, соус чили, ананасы
      </div>
      <div class="product-list__item-composition-btn btn">В корзину</div>
    </div>
    <div class="product-list__item">
      <img src="assets/images/product__item1.png" alt="" class="product-list__item-image">
      <div class="product-list__item-title product-list__item-title--centered">Мясная делюкс</div>
      <div class="product-list__item-composition product-list__item-composition--centered">
        Пепперони, лук, бекон, томатная паста, колбаски, перец, грибы, соус чили, ананасы
      </div>
      <div class="product-list__item-composition-btn btn">В корзину</div>
    </div>
    <div class="product-list__item">
      <img src="assets/images/product__item1.png" alt="" class="product-list__item-image">
      <div class="product-list__item-title product-list__item-title--centered">Мясная делюкс</div>
      <div class="product-list__item-composition product-list__item-composition--centered">
        Пепперони, лук, бекон, томатная паста, колбаски, перец, грибы, соус чили, ананасы
      </div>
      <div class="product-list__item-composition-btn btn">В корзину</div>
    </div>
    <div class="product-list__item">
      <img src="assets/images/product__item1.png" alt="" class="product-list__item-image">
      <div class="product-list__item-title product-list__item-title--centered">Мясная делюкс</div>
      <div class="product-list__item-composition product-list__item-composition--centered">
        Пепперони, лук, бекон, томатная паста, колбаски, перец, грибы, соус чили, ананасы
      </div>
      <div class="product-list__item-composition-btn btn">В корзину</div>
    </div>
  </div>
</section>
