<section id="products" class="section section-products">
  <h2 class="section-products__title section-products__title--centered title">
    Выберите свою любимую пиццу
  </h2>
  <div class="section-products__product-list product-list">
    <div *ngFor="let pizza of productsProps" class="product-list__item">
      <img
        src="{{ pizza.image }}"
        alt=""
        class="product-list__item-image"
        (click)="onImageClick(pizza.image)"
      />
      <div class="product-list__item-title product-list__item-title--centered">
        {{ pizza.name }}
      </div>
      <div class="product-list__item-composition product-list__item-composition--centered">
        {{ pizza.composition }}
      </div>
      <div class="product-list__item-composition-btn btn">В корзину</div>
    </div>
  </div>
</section>
