<header class="container section section-header">
  <div class="section-header__item">
    <img class="section-header__logo" />
    <span class="section-header__logo-text">Pizza cheff</span>
  </div>
  <div class="section-header__item">
    <nav class="section-header__menu">
      <ul>
        <li class="section-header__menu-item">Пиццы</li>
        <li class="section-header__menu-item">Напитки</li>
        <li class="section-header__menu-item">Доставка и оплата</li>
        <li class="section-header__menu-item">Контакты</li>
      </ul>
    </nav>
    <button
      class="hamburger hamburger--spin"
      type="button"
      (click)="onClick()"
      [ngClass]="{ 'is-active': isActive }"
    >
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
</header>
