@import "variables";
@import "./mixins/screen";

.container {
  max-width: $container-width + $container-padding;
  width: 100%;
  margin: 0 auto;
  padding: 0 $container-side-padding;

  @include screen-lgplus-max {
    max-width: map_get($grid-breakpoints, "lgplus") - $container-padding;
    padding: 0 $container-side-padding * 2;
  }

  @include screen-lg-max {
    max-width: map_get($grid-breakpoints, "lg") - $container-padding;
    padding: 0 $container-side-padding * 2;
  }

  @include screen-md-max {
    max-width: map_get($grid-breakpoints, "md") - $container-padding;
  }

  @include screen-sm-max {
    max-width: map_get($grid-breakpoints, "sm") - $container-padding;
  }
}

.title {
  margin: 0;
}

.btn {
  color: $black-color;
  display: block;
  border: none;
  outline: none;
  background-color: $primary-light-color;
  padding: 22px 0;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  &:hover {
    cursor: pointer;
  }
}

.popup-overlay {
  &__container {
    z-index: 1000;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  &__backdrop {
    position: absolute;
    inset: 0;
    z-index: 1000;
    pointer-events: auto;
    -webkit-tap-highlight-color: transparent;
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    opacity: 0;
    &--showing {
      opacity: 1;
    }
    &--dark {
      background: rgba(0, 0, 0, 0.32);
    }
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1000;
    overflow: auto;
    pointer-events: auto;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.popup {
  background-color: #ffffff;
  padding: 30px 40px;
  position: relative;
  // transform: translate(-50%, -50%);
  // left: 50%;
  // top: 50%;
  border-radius: 8px;
  text-align: center;

  &__title {
    font-size: 32px;
  }
  &__text {
    text-align: left;
  }
  &__btn {
    margin-top: 32px;
  }
  & button {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    background-color: transparent;
    font-size: 30px;
    color: #ffffff;
    background: $primary-dark-color;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.modal-open {
  height: 100%;
  overflow: hidden;
}
