/* breakpoints */
$grid-breakpoints: (
  xs: 320px,
  sm: 480px,
  md: 768px,
  lg: 992px,
  xlg: 1440px,
);

$container-width: 1200px;
$container-padding: 24px;
$container-side-padding: $container-padding / 2;
