//  breakpoints
$grid-breakpoints: (
  xs: 320px,
  sm: 480px,
  md: 768px,
  lg: 992px,
  xlg: 1440px,
);

$container-width: 1200px;
$container-padding: 24px;
$container-side-padding: $container-padding / 2;


// colors

$logo-color: #ffc468;
$primary-light-color: #ffaf18;
$primary-dark-color: #b99050;
$black-color: #020303;
$link-color: #a46b00;