$hamburger-padding-x: 15px;
$hamburger-padding-y: 15px;
$hamburger-layer-width: 32px;
$hamburger-layer-height: 4px;
$hamburger-layer-color: #000;
$hamburger-hover-opacity: 0.7;
$hamburger-active-layer-color: $hamburger-layer-color;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;

$hamburger-types: (spin);

@import "../styles/hamburgers.scss";
