@import "normalize-override";
@import "fonts";
@import "utils";
@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Muller', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: $primary-dark-color;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}