@import "normalize-override";
@import "fonts";
@import "utils";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Muller', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}