<section class="section section-order-form">
  <div class="section-order-form__item">
    <div class="section-order-form__title">
      <span class="section-order-form__title--light">Хватит думать!</span><br />
      Доставим заказ за 30 минут!
    </div>
    <div class="section-order-form__text">
      Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы
      опоздаем даже на 1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий
      заказ. Мы гордимся нашим сервисом и сделаем всё, чтобы наш клиент был доволен и не остался
      голодный!
    </div>
  </div>
  <form action="/" [formGroup]="orderFormGroup" (ngSubmit)="sendForm()" class="section-order-form__item section-order-form__form order-form">
    <input formControlName="name" placeholder="Ваше имя" type="text" class="order-form__input" #nameInput (input)="onInput(nameInput.value)" />
    <span *ngIf="name && name.invalid && name.touched" class="error">Имя обязательно для заполнения</span>
    <input formControlName="address" placeholder="Адрес доставки" type="text" class="order-form__input" />
    <span *ngIf="address && address.invalid && address.touched" class="error">Адрес доставки обязателен для заполнения</span>
    <input formControlName="phone" placeholder="Телефон" type="number" class="order-form__input" />
    <span *ngIf="phone && phone.invalid && phone.touched" class="error">Телефон обязателен для заполнения</span>
    <button class="btn order-form__btn" type="submit">Оформить заказ</button>
  </form>
  <div class="section-order-form__item section-order-form__img-group">
    <img src="assets/images/order__pizza.jpg" alt="" srcset="" class="section-order-form__img" />
  </div>
</section>
