<main class="container">
  <app-hero></app-hero>
  <app-products [products]="pizzzaList" (pizzaImage)="onPizzaImageClick($event)"></app-products>
  <app-order-form (createOrderResponse)="onOrderSent($event)"></app-order-form>
  <app-after-order-sent-popup
    *ngIf="popupAfterOrderSent"
    [popupMessage]="responseMessage"
    [popupVisibleProps]="popupAfterOrderSent"
    (popupClosed)="popupAfterOrderSent = $event"
  ></app-after-order-sent-popup>
  <app-after-pizza-image-click-popup
    *ngIf="popupAfterPizzaImageClick"
    [popupImage]="pizzaImage"
    [popupVisibleProps]="popupAfterPizzaImageClick"
    (popupClosed)="popupAfterPizzaImageClick = $event"
  ></app-after-pizza-image-click-popup>
</main>
